.sidebar--mobile{
    display: block;
    transform: translateX(-100%);
    transition: transform 0.4s linear;

    &.active{
        transform: translateX(0);
    }
}
.sidebar__content--mobile{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: -2.5rem;
}
.sidebar__photo--mobile{
    width: 6.5rem;
    height: 6.5rem;

    img{
        border-radius: 50%;
        border: 2px solid $white;
    }
}
.sidebar__inner--mobile{
    display: flex;
    flex-direction: column;
    justify-content: end;
    font-family: Roboto,sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    padding-left: 1rem;
    h4{
        padding-bottom: 0.2rem;
    }
}
.header__nav--mobile{
    margin-left: 3rem;
}
.header__mobile{
    margin-top: 4.2rem;
}

.ul__submenu--mobile{
    display: none;    
    margin-left: 1.7rem;
}
.li__item--mobile{
    &:hover{
        > .ul__submenu--mobile{
             display: block;
         }
     }
     &:focus{
        background-color: $blueNav;
     }
     &.active{
        > .ul__submenu--mobile{
             display: block;
         }
     }
}
.nav__item__submenu{
    &::after{
        position: relative;
        display: inline-block;
        margin-left: 4px;
        margin-bottom: -3px;
    }
}