$primary: #202020;
$secondary: #121212;
$white:#fff;
$textColor:#DEDEDE;
$lineColor:#1C1C1C;
$red: #ED3024;
$blue: #3137C9;
$black: #0D0D0D;
$blackShadow: #000000;
$blueBtn: #3137C9;
$blueText: #107EFF;
$blueNav: #104BE3;
$grayBtn: #EBEBEB;
$graytext:#D2D2D2;
$grayIcon:#C4C4C4;


$z-index-sidebar: 1000;
$z-index-header:1000;

$width-sidebar:30rem;
$height-header:4rem;