/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -ms-text-size-adjust: 100%; /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0; /* 1 */
  -ms-interpolation-mode: bicubic; /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0; /* 1 */
  padding: 0;
  white-space: normal; /* 2 */
  *margin-left: -7px; /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%; /* 1 */
  margin: 0; /* 2 */
  vertical-align: baseline; /* 3 */
  *vertical-align: middle; /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
  *overflow: visible; /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
  *height: 13px; /* 3 */
  *width: 13px; /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type=search] {
  -webkit-appearance: textfield; /* 1 */ /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto; /* 1 */
  vertical-align: top; /* 2 */
}

/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  font-size: 10px;
}

body, html {
  font-size: 10px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

body {
  background-color: #121212;
  color: #fff;
  font-family: -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.sidebar {
  width: 30rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: #202020;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
@media (max-width: 991px) {
  .sidebar {
    display: none;
  }
}

.sidebar__header {
  width: 100%;
  height: 18rem;
}
.sidebar__header img {
  -o-object-fit: cover;
     object-fit: cover;
}

.sidebar__content {
  width: 100%;
  padding: 0 2rem;
  text-align: center;
  font-family: Roboto, sans-serif;
  margin-top: -5rem;
}
.sidebar__content h4 {
  font-size: 1.8rem;
  font-weight: 400;
  color: #fff;
  padding-bottom: 0.3rem;
}

.sidebar__subtitle {
  display: block;
  font-size: 1.4rem;
  font-weight: 300;
  color: #DEDEDE;
}

.sidebar__social {
  max-width: 10.5rem;
  margin: 1.8rem auto 6rem;
  display: flex;
  justify-content: space-between;
}
.sidebar__social--modal {
  width: 100%;
  height: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.item__social {
  padding-right: 1.5rem;
}
.item__social:last-child {
  padding-right: 0;
}

.sidebar__photo {
  width: 100%;
  padding-bottom: 1.9rem;
}
.sidebar__photo img {
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  border: 2px solid #fff;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.25);
}

.sidebar__text {
  width: 100%;
  font-family: inherit;
  max-width: 26rem;
  font-size: 1.2rem;
  line-height: 1.5;
  font-weight: 400;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.25);
  position: relative;
}
.sidebar__text::after, .sidebar__text::before {
  display: block;
  content: "";
  height: 1px;
  width: 100%;
  min-width: 26rem;
  background-color: #1C1C1C;
  position: absolute;
}
.sidebar__text::before {
  top: -3rem;
  left: 0;
  z-index: 1;
}
.sidebar__text::after {
  bottom: -3rem;
  left: 0;
  z-index: 1;
}

.sidebar__button {
  display: flex;
  margin: 6rem auto 0;
  justify-content: space-between;
  align-items: center;
  width: 26rem;
}

.header {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 30rem);
  height: 4rem;
  background-color: #0D0D0D;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  color: #fff;
}
@media (max-width: 991px) {
  .header {
    left: 0;
    width: 100%;
  }
}

.header__right {
  display: flex;
}

.header__nav {
  display: flex;
}
@media (max-width: 700px) {
  .header__nav {
    display: none;
  }
}

.li__item {
  transition: background 0.5s linear;
  position: relative;
}
.li__item:hover {
  background-color: #3137C9;
}
.li__item:hover > .ul__submenu {
  display: block;
}

.nav__item {
  display: block;
  padding: 1.3rem 2.3rem 1.4rem 1.5rem;
  font-size: 1.1rem;
  font-family: inherit;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
}

.nav__item__submenu {
  position: relative;
}
.nav__item__submenu::after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 5px 0 5px;
  border-color: #fff transparent transparent transparent;
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 1;
  transform: translateY(-50%);
}

.ul__submenu {
  display: none;
  width: 16.5rem;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #3137C9;
  border-radius: 0 0 0.5rem 0.5rem;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}
.ul__submenu:last-child {
  padding-bottom: 0.7rem;
}

.item__submenu {
  display: block;
  padding: 1rem 1.2rem;
  font-size: 1.1rem;
  font-family: inherit;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
}

.submenu__item {
  transition: background 0.3s linear;
}
.submenu__item:hover {
  background-color: #1d2177;
}

.header__search {
  max-width: 21.2rem;
  height: 100%;
  display: block;
  background-color: transparent;
  border: none;
  color: #fff;
}
.header__search::-moz-placeholder {
  color: #e6e6e6;
  font-size: 1.2rem;
  font-weight: 400;
  font-family: Roboto, sans-serif;
}
.header__search:-ms-input-placeholder {
  color: #e6e6e6;
  font-size: 1.2rem;
  font-weight: 400;
  font-family: Roboto, sans-serif;
}
.header__search::placeholder {
  color: #e6e6e6;
  font-size: 1.2rem;
  font-weight: 400;
  font-family: Roboto, sans-serif;
}

.container {
  width: 100%;
  max-width: 70rem;
  padding-left: 5rem;
  padding-right: 5rem;
  margin: 0 auto;
}
@media (max-width: 700px) {
  .container {
    max-width: 66rem;
    padding: 0 2rem;
  }
}

.page {
  overflow: hidden;
}
@media (max-width: 991px) {
  .page {
    overflow: none;
  }
}
@media (max-width: 700px) {
  .page {
    overflow: none;
  }
}

.main {
  width: calc(100%-30rem);
  height: calc(100%-4rem);
  margin-left: 30rem;
  margin-top: 4rem;
}
@media (max-width: 991px) {
  .main {
    margin-left: 0;
  }
}

.btn {
  display: inline-block;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
  font-family: Roboto, sans-serif;
  padding: 1.3em 2em;
  border-radius: 2rem;
  text-decoration: none;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  transition: background 0.6s linear;
}
.btn--postpage {
  padding: 1rem 1rem;
  border-radius: 0.5rem;
  margin: 1.2rem 0 5rem;
}
.btn--modal {
  margin-bottom: 0;
}

.btn--red {
  background-color: #ED3024;
}
.btn--red:hover {
  background-color: #86120b;
}

.btn--blue {
  background-color: #3137C9;
}
.btn--blue:hover {
  background-color: #181b62;
}

.btn--work {
  margin-left: auto;
}

.stories {
  width: 60rem;
  height: 19.5rem;
  margin-bottom: 3rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 19.5rem;
  -moz-column-gap: 1.3rem;
       column-gap: 1.3rem;
}
@media (max-width: 700px) {
  .grid {
    grid-template-columns: 15rem 15rem 15rem 15rem;
    overflow: auto;
  }
}

.grid__item {
  background-color: #0D0D0D;
  position: relative;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  cursor: pointer;
  transition-duration: 0.2s;
}
.grid__item a {
  position: relative;
  z-index: 5;
  display: block;
  width: 100%;
  height: 100%;
}
.grid__item::after {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.8));
}
.grid__item:hover {
  transform: scale(1.1);
  transition: transform 3s linear;
}
.grid__item img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  scale: 1.05;
}
.grid__item span {
  color: #fff;
  font-size: 1.2rem;
  font-family: Lato, sans-serif;
  font-weight: 400;
  line-height: 1.4;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  padding: 1.4rem 1.7rem 0 1.3rem;
  text-transform: capitalize;
}

.stories__date {
  color: #fff;
  font-size: 1.2rem;
  font-family: Lato, sans-serif;
  font-weight: 400;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 3;
  padding-right: 1.7rem;
  padding-bottom: 1.4rem;
}

.addPost {
  width: 100%;
  height: 7.4rem;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.45);
  background-color: #121212;
  margin-bottom: 3rem;
  border-radius: 0.5rem;
  position: relative;
}

.addPost-form {
  display: flex;
  align-items: center;
  height: 100%;
  width: 87%;
  padding: 1.5rem 3rem;
}

.postText {
  width: 100%;
  height: 2.2rem;
  background-color: transparent;
  color: #cccccc;
  font-family: Lato, sans-serif;
  font-weight: 400;
  line-height: 1.2;
  font-size: 1.2rem;
  border: none;
  resize: none;
}

.addPostForm-btns {
  height: 100%;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  justify-content: space-between;
}

.addPost-label {
  width: 4.4rem;
  height: 4.4rem;
  background: #EBEBEB url(../img/btns_post/photo\ 1.svg);
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.1s linear, transform 0.4s linear;
  z-index: 1;
}
.addPost-label input {
  display: none;
}
.addPost-label:hover {
  background-color: #b8b8b8;
  transform: scale(1.1);
}
@media (max-width: 700px) {
  .addPost-label {
    width: 3rem;
    height: 3rem;
  }
}

.addPost-btn {
  width: 4.4rem;
  height: 4.4rem;
  background: #3137C9 url(../img/btns_post/send\ 1.svg);
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  margin-left: 1.5rem;
  transition: background-color 0.1s linear, transform 0.4s linear;
  z-index: 1;
}
.addPost-btn:hover {
  background-color: #1d2177;
  transform: scale(1.1);
}
@media (max-width: 700px) {
  .addPost-btn {
    width: 3rem;
    height: 3rem;
  }
}

.fullpost {
  background-color: #202020;
  font-size: 1.4rem;
  box-shadow: 0 1.5rem 2.5rem rgba #000000, 35%;
  border-radius: 0.5rem;
  padding: 3rem 3rem 2rem;
  color: #D2D2D2;
  margin-bottom: 3rem;
}
@media (max-width: 700px) {
  .fullpost {
    font-size: 1.2rem;
    padding: 2rem 1rem 0;
    text-align: justify;
    line-height: 1.5;
  }
}

.text__post {
  line-height: 1.5;
  font-weight: 400;
  font-family: Lato, sans-serif;
}

.post__ul {
  padding-top: 2rem;
  display: flex;
  align-items: center;
}
@media (max-width: 700px) {
  .post__ul {
    padding-top: 1rem;
    flex-wrap: wrap;
  }
}

.post__item {
  font-size: 1.4rem;
  padding-bottom: 2.6rem;
  font-family: Lato, sans-serif;
}
.post__item:not(:first-child):before {
  display: inline-block;
  content: "";
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
  background-color: #C4C4C4;
  margin-right: 1.6rem;
  margin-left: 1.5rem;
}
@media (max-width: 700px) {
  .post__item:not(:first-child):before {
    margin-left: 0.2rem;
    margin-right: 0.3rem;
  }
}
.post__item a {
  text-decoration: none;
  color: inherit;
}
@media (max-width: 700px) {
  .post__item {
    font-size: 1.1rem;
    margin-left: 0;
    padding-bottom: 0.2rem;
  }
}

.post__content {
  max-width: 60rem;
  height: auto;
  margin: -3rem -3rem 0;
  overflow: hidden;
}
.post__content img {
  display: block;
  width: 100%;
  height: auto;
}

.post__content--video {
  margin: 0;
}

.post__title {
  color: #D2D2D2;
  font-family: Lato, sans-serif;
  font-weight: 700;
  font-size: 2rem;
  padding-bottom: 2rem;
  padding-top: 2rem;
}
@media (max-width: 700px) {
  .post__title {
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
  }
}

.footer__post {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post__reed a {
  font-size: 1.4rem;
  font-family: Lato, sans-serif;
  text-decoration: none;
  color: #107EFF;
  opacity: 0.6;
  transition: opacity 0.4s linear;
}
@media (max-width: 700px) {
  .post__reed a {
    font-size: 1.1rem;
    max-height: 1.2rem;
  }
}
.post__reed:hover {
  text-decoration: underline;
  opacity: 1;
}
@media (max-width: 700px) {
  .post__reed {
    max-height: 1.2rem;
  }
}

.embed {
  position: relative;
  overflow: hidden;
}
.embed::before {
  display: block;
  content: "";
  padding-top: 56.25%;
}
.embed iframe, .embed video, .embed object, .embed embed {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.pagenav {
  margin: 8rem auto;
  display: flex;
  justify-content: space-between;
  height: 4rem;
  max-width: 24rem;
}
@media (max-width: 700px) {
  .pagenav {
    margin: 4rem auto;
  }
}

.pagenav__item {
  width: 4rem;
  background-color: #0D0D0D;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  transition: background-color 0.6s linear;
  padding: 1.4rem;
  padding-left: 1.7rem;
  line-height: 0.6;
}
.pagenav__item:not(:last-child) {
  padding-left: 1.4rem;
}
.pagenav__item:not(:first-child) {
  padding-left: 1.5rem;
}
.pagenav__item a {
  text-decoration: none;
  color: #fff;
  font-size: 1.6rem;
}
.pagenav__item:hover {
  background-color: #104BE3;
}

.post__content__pagepost {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
  padding-right: 1.8rem;
  padding-bottom: 1.1rem;
}

.return__main, .post__share {
  text-decoration: none;
  font-size: 1.2rem;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  color: #fff;
  opacity: 0.4;
  transition: opacity 0.4s linear;
}
.return__main:hover, .post__share:hover {
  opacity: 1;
}

.return__main {
  display: block;
  padding-left: 2.5rem;
}

.post__share {
  display: inline-block;
  padding-right: 0.7rem;
}

.share__content {
  display: flex;
}
.share__content img {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  opacity: 0.4;
  transition: opacity 0.4s linear;
  margin-top: -0.4rem;
}
.share__content img:hover {
  opacity: 1;
}

.post__title__pagepost {
  font-family: Roboto, sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  padding-bottom: 0;
}

.post__ul__postpage {
  padding-top: 0.4rem;
}

.text__post__postpage {
  font-size: 1.4rem;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  line-height: 2.1rem;
  border-bottom: 1px solid #1C1C1C;
  margin-bottom: 3rem;
}
.text__post__postpage p {
  padding-bottom: 2rem;
}
.text__post__postpage img {
  display: block;
  width: 100%;
  height: auto;
}

.blog__content {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  display: flex;
  flex-wrap: wrap;
}

.reading__content {
  display: block;
  width: 50%;
  padding-bottom: 2.4rem;
}
.reading__content time {
  display: block;
  padding-top: 0.5rem;
}

.read__title {
  font-size: 1.6rem;
  color: #fff;
  margin-bottom: 1.9rem;
}

.content__title {
  display: block;
  font-size: 1.4rem;
  color: #F3EBA2;
  cursor: pointer;
  text-decoration: none;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.block__comments {
  color: #fff;
  font-weight: 500;
  font-family: Roboto, sans-serif;
  padding-left: 0;
}
.block__comments > .block__comments {
  padding-left: 3rem;
}

.comments__header {
  display: flex;
}
.comments__header img {
  width: 3rem;
  height: 3rem;
  margin-right: 1.5rem;
  margin-bottom: 1.5rem;
}

.comments__header__inner {
  display: block;
}

.comment__title {
  font-size: 1.2rem;
}

.comments__date {
  display: block;
  font-weight: 400;
  color: #757575;
  margin-top: 0.4rem;
}

.comments__text {
  line-height: 1.3;
}

.comments__answer {
  text-decoration: none;
  display: block;
  margin: 0.5rem 0 3rem;
  color: #107EFF;
  opacity: 0.4;
  transition: opacity 0.3s linear;
}
.comments__answer:hover {
  opacity: 1;
}

.form__comments {
  font-family: Roboto, sans-serif;
}

.comments__title {
  font-weight: 500;
  font-size: 1.6rem;
  padding-bottom: 1.9rem;
}

.post__form--profile {
  display: flex;
  justify-content: space-between;
}
.post__form--modal {
  width: 50rem;
  height: 34.2rem;
  background-color: #202020;
  border-radius: 0.5rem;
}

.post__form--profile__left {
  width: 65%;
}

.post__form--modal {
  width: 100%;
  max-width: 50rem;
  height: 100%;
  max-height: 34.2rem;
}

.post__form--profile__right {
  width: 35%;
}

.post__form__inner {
  position: relative;
  width: 100%;
  height: auto;
  display: block;
}
.post__form__inner--myprofile {
  margin-bottom: 2.5rem;
}
.post__form__inner--modal {
  max-width: 34rem;
}

.focus__line {
  display: block;
  width: 0;
  height: 1px;
  background-color: #3137C9;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  transition: width 1s linear;
}

.comment__input {
  display: block;
  background-color: transparent;
  border: none;
  width: 100%;
  height: 2.5rem;
  resize: none;
  color: #fff;
}
.comment__input::-moz-placeholder {
  color: #fff;
  opacity: 0.2;
}
.comment__input:-ms-input-placeholder {
  color: #fff;
  opacity: 0.2;
}
.comment__input::placeholder {
  color: #fff;
  opacity: 0.2;
}
.comment__input:focus + .focus__line {
  width: 100%;
}
.comment__input--myprofile {
  font-size: 1.4rem;
  font-weight: 400;
  font-family: Roboto, sans-serif;
  padding-bottom: 1rem;
}

.input__profile {
  display: none;
}

.entered__profile {
  display: block;
  padding-left: 1.8rem;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  transition: color 0.5s linear, -webkit-text-decoration 0.5s linear;
  transition: color 0.5s linear, text-decoration 0.5s linear;
  transition: color 0.5s linear, text-decoration 0.5s linear, -webkit-text-decoration 0.5s linear;
}
.entered__profile:hover {
  color: #3137C9;
  text-decoration: underline;
}

.img__profile {
  display: block;
  margin-right: auto;
}

.fullpost--search {
  padding-bottom: 0;
}

.search__title {
  display: block;
  margin-top: 6rem;
  margin-bottom: 3rem;
  font-size: 2.1rem;
  font-weight: 400;
  font-family: Roboto, sans-serif;
  padding-left: 1rem;
}
.search__title--myprofile {
  padding-left: 0;
}

.result__search {
  margin-bottom: 3rem;
}

.work__content {
  width: 100%;
  display: flex;
  height: auto;
  margin-bottom: 3rem;
}

.content__image {
  width: 50%;
  height: auto;
  max-height: 552px;
  overflow: hidden;
}

.content__inner {
  width: 50%;
}

.worktitle {
  padding: 2.8rem 0 3rem 2.5rem;
  font-family: Roboto, sans-serif;
  font-size: 2.4rem;
  font-weight: 500;
  color: #fff;
}

.work__text {
  font-size: 1.6rem;
  color: #D2D2D2;
  font-weight: 300;
  font-family: Roboto, sans-serif;
  line-height: 2.7rem;
  padding: 0 2.5rem 3rem 2.5rem;
}

.work__tags {
  padding: 0 0 4rem 2.5rem;
  display: flex;
}

.tags__item {
  color: #fff;
  background-color: #EA8C1E;
  padding: 0.4rem 0.9rem;
  margin-right: 0.5rem;
  font-size: 1.1rem;
  line-height: 1.2rem;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  border-radius: 0.3rem;
}

.work__button {
  margin: 0 2.5rem;
  width: 100%;
  display: flex;
}

.modal__background {
  position: fixed;
  z-index: 1010;
  width: 100%;
  height: 100vh;
  background-color: #E5E5E5;
  opacity: 0.9;
}

.contact__modal {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.form__modal__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.close__modal {
  width: 2rem;
  height: auto;
}
.close__modal img {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 1rem;
  margin-top: 1rem;
  z-index: 1025;
  transition: transform 0.4s linear;
}
.close__modal img:hover {
  transform: rotate(45deg);
}

.share__inner {
  width: 50rem;
  height: 20rem;
  background-color: #202020;
}

.modal__video {
  width: 42rem;
  height: 58rem;
}

.header__burger {
  width: 3rem;
  height: 2rem;
  display: none;
  flex-direction: column;
  background-color: transparent;
  margin-top: 1rem;
  margin-left: 1.5rem;
  border: none;
}
.header__burger .burger, .header__burger::before, .header__burger::after {
  content: "";
  display: flex;
  flex-direction: column;
  width: 3rem;
  height: 0.2rem;
  background-color: #fff;
  margin: 0.2rem 0;
  transition: opacity 0.4s linear, transform 0.4s linear;
}
.header__burger.active span {
  opacity: 0;
}
.header__burger.active::before {
  transform: rotate(45deg);
  margin-bottom: -1rem;
}
.header__burger.active::after {
  transform: rotate(-45deg);
}
@media (max-width: 991px) {
  .header__burger {
    display: flex;
  }
}

.sidebar--mobile {
  display: block;
  transform: translateX(-100%);
  transition: transform 0.4s linear;
}
.sidebar--mobile.active {
  transform: translateX(0);
}

.sidebar__content--mobile {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: -2.5rem;
}

.sidebar__photo--mobile {
  width: 6.5rem;
  height: 6.5rem;
}
.sidebar__photo--mobile img {
  border-radius: 50%;
  border: 2px solid #fff;
}

.sidebar__inner--mobile {
  display: flex;
  flex-direction: column;
  justify-content: end;
  font-family: Roboto, sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  padding-left: 1rem;
}
.sidebar__inner--mobile h4 {
  padding-bottom: 0.2rem;
}

.header__nav--mobile {
  margin-left: 3rem;
}

.header__mobile {
  margin-top: 4.2rem;
}

.ul__submenu--mobile {
  display: none;
  margin-left: 1.7rem;
}

.li__item--mobile:hover > .ul__submenu--mobile {
  display: block;
}
.li__item--mobile.active > .ul__submenu--mobile {
  display: block;
}

.nav__item__submenu::after {
  position: relative;
  display: inline-block;
  margin-left: 4px;
  margin-bottom: -3px;
}/*# sourceMappingURL=stile.css.map */