@import'blocks/vars';
@import 'blocks/mixin';
@import "vendor/reset";

*,
*::after,
*::before {
    box-sizing: border-box;
    font-size: 10px;
}
body, html{
    font-size: 10px;
}
h1,h2,h3,h4,h5,h6 {
    margin: 0;
}
body{
    background-color: $secondary;
    color: $white;
    font-family: -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";;

    &.no--scroll{
        overflow: hidden;
    }


}





// ========blocks======
@import 'blocks/sidebar';
@import 'blocks/header';
@import 'blocks/container';
@import 'blocks/page';
@import 'blocks/main';
@import 'blocks/btn';
@import 'blocks/stories';
@import 'blocks/addPost';
@import 'blocks/fullpost';
@import 'blocks/embed';
@import 'blocks/pagenav';
@import 'blocks/postpage';
@import 'blocks/blockComments';
@import 'blocks/formComment';
@import 'blocks/search';
@import 'blocks/myWorks';
@import 'blocks/modalContact';
@import 'blocks/sharemodal';
@import 'blocks/modalVideo';
@import 'blocks/burger';
@import 'blocks/sidebarMobile';